import json
import logging
from datetime import datetime

from airflow.decorators import dag, task
from airflow.models import Variable

from hooks.{{ dag_id }}_hook import Check, Extract, Transform, Load
from airflow.sensors.base import PokeReturnValue



@dag(schedule_interval="{{ schedule_interval }}", start_date=datetime.strptime('{{start_date}}', "%Y-%m-%d"), catchup=False)
def {{ dag_id }}_dag():
    {{ dag_id }}_config = json.loads(Variable.get("{{ dag_id }}_dag", default_var=None))

    @task.sensor(poke_interval={{sensor.poke_interval}}, timeout={{sensor.timeout}}, mode="poke", soft_fail=True)
    def check() -> PokeReturnValue:
        """{{sensor.description}}"""
        condition_met = Check({{ dag_id }}_config).run()
        return PokeReturnValue(condition_met)

    @task
    def extract(poke_result: PokeReturnValue) -> bool:
        """{{extract.description}}"""
        return Extract({{ dag_id }}_config).run()

    @task
    def transform(status: bool) -> bool:
        """{{transform.description}}"""
        return Transform({{ dag_id }}_config).run()

    @task
    def load(status: bool) -> bool:
        """{{load.description}}"""
        status = Load({{ dag_id }}_config).run()
        logging.info("Star Wars API catalog loaded to webserver")
        return status

    load(transform(extract(check())))  # set up the task dependencies


etl_workflow = {{ dag_id }}_dag()
