from typing import Any

from airflow.hooks.base import BaseHook
from airflow.providers.amazon.aws.operators.s3 import S3Hook
from pydantic import BaseModel

# application code


class {{ dag_id|title }}Config(BaseModel):
    """{{ description }}. Use Pydantic for config validation"""

    {% for key, value in variables.dag.items() -%}
    {{ key }}: {{ value.__class__.__name__ }}
    {% endfor -%}

{% raw %}
{% endraw %}
class {{ dag_id|title }}Hook(BaseHook):
    """{{ description }}"""

    def __init__(self, config_dict: dict[str, Any]):
        # require a config
        if not config_dict:
            raise ValueError("config is required")
        # parse the config
        self.config = {{ dag_id|title }}Config(**config_dict)
        # create the S3 hook
        # for now, assume everything needs a connection
        self.s3_hook = S3Hook(aws_conn_id=self.config.aws_conn_id)

    def run(self) -> bool:
        """Run the ETL task"""
        raise NotImplementedError("Subclasses must implement the run method")


class Check({{ dag_id|title }}Hook):
    """Generated sensor"""

    def run(self) -> bool:
        """{{ sensor.description }}"""
        pass


class Extract({{ dag_id|title }}Hook):
    """Generated extractor"""

    def run(self) -> bool:
        """{{extract.description}}"""
        pass


class Transform({{ dag_id|title }}Hook):
    """Generated transformer class"""

    def run(self) -> bool:
        """{{ transform.description }}"""
        pass


class Load({{ dag_id|title }}Hook):
    """Generated load class"""

    def run(self) -> bool:
        """{{ load.description }}"""
        pass

