# See https://airflow.apache.org/docs/apache-airflow/stable/howto/docker-compose/index.html#environment-variables-supported-by-docker-compose
AIRFLOW_UID=
AIRFLOW_GID=0
_PIP_ADDITIONAL_REQUIREMENTS=json2html networkx
# If using open lineage see https://airflow.apache.org/docs/apache-airflow-providers-openlineage/stable/guides/user.html
# AIRFLOW__OPENLINEAGE__TRANSPORT='{"type": "http", "url": "http://localhost:5000", "endpoint": "api/v1/lineage"}'
# AIRFLOW__OPENLINEAGE__NAMESPACE='my-team-airflow-instance'

