from airflow import DAG
from airflow.operators.dummy import DummyOperator
from datetime import datetime

default_args = {
    'owner': 'airflow',
    'start_date': datetime.strptime('{{start_date}}', "%Y-%m-%d")
}

with DAG('{{ dag_id }}', default_args=default_args, schedule_interval='{{ schedule_interval }}') as dag:
    start = DummyOperator(task_id='start')
